@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-ExtraBold.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-ExtraLight.otf') format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-Heavy.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-SemiBold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'SUIT';
  src: url('/public/fonts/SUIT-Thin.otf') format('opentype');
  font-weight: 100;
}
